* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Ubuntu",sans-serif;
}

body {
    background-color: rgb(204, 138, 14);
}

.wrapper {
    width: 60%;
    background-color: rgba(25, 24, 24, 0.996);
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(72, 69, 69);
}

span {
    display : block;
    text-align: center;
  font-size : 100px;
}

p{
    font-size: 20px;
    font-weight: 600;
    font-style: oblique;
    color:white;
    text-align:center;
    word-wrap: break-word;
    line-height: 28px;
    margin:20px;
    opacity: 0;
}
.fade{
    opacity :1;
    transition:opacity 1.5s;
}
button{
    display:block;
    background-color: rgb(249, 133, 1);
    border: none ;
    padding : 10px;
    width : 250px;
    margin:auto;
    justify-content: center;
    font-size:larger;
    color: rgb(57, 52, 52);
    font-weight: 600;
    border-radius : 100px;
    cursor:pointer;
    outline : 0px solid white;
}  

